<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>工地记账系统</title>
<link rel="stylesheet" type="text/css"
	href="easyui/1.6.10/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css"
	href="easyui/1.6.10/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="easyui/1.6.10/demo.css" />
<script type="text/javascript" src="easyui/1.6.10/jquery.min.js"></script>
<script type="text/javascript" src="easyui/1.6.10/jquery.easyui.min.js"></script>
</head>
<body>
<div>扩展位</div>
<div>私人订制:联系QQ648667069</div>	
</body>
</html>